---
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

{% set firstDua = duasList[0] %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other head elements -->
    <meta http-equiv="refresh" content="0;url={{ '/' + firstDua.name + '/' }}">
</head>
<body>
    <!-- Your body content, if necessary -->
</body>
</html>