<!-- _includes/partials/scrollProgressIndicator.html -->
<div id="scrollProgressContainer" class="fixed bottom-0 left-0 w-full h-2 z-50 print:hidden">
    <div id="scrollProgressBar" class="h-full bg-blue-500 w-0"></div>
</div>
