<button id="scrollToTopButton" aria-label="Scroll to top" title="Scroll to top"
        class="fixed bottom-5 right-5 bg-primary w-10 h-10 items-center justify-center flex  text-white p-2 rounded-full cursor-pointer z-50 transition-opacity duration-300 print:hidden">
    <i class="fa fa-chevron-up"></i>
</button>